* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

main {
  height: 96vh;
}

.bgImage {
  background-image: url("/Images/sergei-a--heLWtuAN3c-unsplash.jpg");
  background-size: cover;
  height: 50vh;
  margin: 1.5rem;
  border-radius: 40px;
}

.btn1 {
  padding: 5px 15px;
  background-color: #367bf5;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 30px;
  position: absolute;
  top: 190px;
  left: 430px;
}

.Heading {
  font-size: 48px;
  color: white;
  font-weight: 800;
  letter-spacing: 10px;
  position: absolute;
  top: 175px;
  right: 330px;
}

.d-none {
  display: none;
}

.todo-list {
  /* height: 400px; */
  width: 800px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 250px;
  left: 400px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0px rgb(198, 197, 197);
  padding: 0px 15px 20px 15px;
}

.list-heading {
  font-size: 32px;
}

.priority {
  font-size: 20px;
  margin-left: 30px;
  text-align: center;
  margin-bottom: 10px;
  background-color: red;
  padding: 5px 10px;
  border-radius: 10px;
}

.list-items .list-sec {
  padding: 30px 35px 20px;
}

.list-items > hr {
  margin-top: 5px;
  padding: 0px 10px;
}

.flex-item {
  display: flex;
  justify-content: space-between;
}

.list-items .list-para {
  margin-top: 10px;
}

.deleteBtn {
  margin-top: 10px;
  background: transparent;
  border: none;
  font-size: 25px;
  color: red;
}

.popup {
  /* display: none; */
  width: 30%;
  background-color: white;
  position: fixed;
  top: 270px;
  left: 580px;
  border-radius: 30px;
  padding: 10px 100px;
  box-shadow: 0px 0px 10px 0px rgb(198, 197, 197);
}

.popup div {
  display: flex;
  flex-direction: column;

  & input,
  select {
    height: 40px;
    border-radius: 30px;
    outline: 0;
    border: 2px solid #367bf5;
    background-color: #c481ff;
    margin-top: 5px;
    padding: 20px;
  }

  & textarea {
    margin-top: 5px;
    border: 2px solid #367bf5;
    background-color: #c481ff;
    border-radius: 30px;
    resize: none;
    padding: 20px;
    outline: 0;
  }

  & label {
    margin-top: 25px;
    padding-left: 20px;
  }

  & .saveBtn {
    height: 30px;
    width: 70px;
    font-weight: bold;
    font-size: 16px;
    background-color: #367bf5;
    border-radius: 15px;
    border: none;
    color: white;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0px 0px 3px 0px blue;
  }

  & .cancelBtn {
    height: 30px;
    width: 70px;
    font-weight: bold;
    font-size: 16px;
    background-color: #367bf5;
    border-radius: 15px;
    border: none;
    color: white;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0px 0px 3px 0px blue;
  }
}

.pop-section .button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
